@charset "UTF-8";

* {
    
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(90deg, #A4A69C, #5d6d60);
}

main {
    background-color: rgb(236, 236, 236);
    width: 600px;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 5px 5px 10px #515f54c1;
}

h1 {
    text-align: center;
    color: #232625;
    text-shadow: 2px 2px 3px #515f54c1;
}

h2 {
    color: #A84C4A;
}

p {
    text-align: justify;
}